  <%= render 'shared/banner', title: "Ombu Hub", text: "Acelera tu conocimiemto con Ombu Hub", btn: (link_to "Ver Cursos", courses_path, class: "btn btn-primary")  %>


<div class="container">



  <%= render 'shared/search_bar' %>


    <div class="cards mt-3">
      <% @courses.each do |course| %>
          <%= render 'shared/card' , course: course%>
        <% end %>
    </div>

    <div class="text-center my-3 width-100">
      <%= link_to "Ver Mas Cursos", root_path, class: "btn btn-primary" %>
     </div>


</div>


  <%= render 'shared/banner',title: "Ombu Hub", text: "Acelera tu conocimiemto con Ombu Hub" , btn: (link_to "Ver Cursos", courses_path, class: "btn btn-primary")  %>

